*{
    margin: 0;
    padding: 0;
  }
  body{
        background-color: #dedede;
        margin: auto;
        font-family: 'Microsoft YaHei';
        max-width: 1200px;
  }

   /* .navi{
     background-color: white;
     border: 1px solid gray;
     width: 80%;
     margin: auto;
     padding: 15px;
     text-align: center;
     line-height: 40px;
     box-shadow: 1px 1px 1px 1px #848484
   } */

.subtitle p{
    font-size: 24px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #848484;
    background: #CCFF99;
}


main{
    display: grid;
    grid-auto-rows: min-content;
}



article {
    background: white;
    box-shadow: 1px 1px 1px 1px #848484;
    display: grid; 
    grid-template-rows: repeat(2, min-content); 
    grid-template-columns: 33% calc(67% - 55px) 55px; 
    grid-auto-rows: min-content; 

    max-width: calc(100vw - 10px); 
    position: relative; 
    padding: 15px 10px; 
    background-color: white;
    margin:  10px;
  }

  .grid-area_tittle{
    grid-row: 1; 
    grid-column: 2 / span 2; 
}
.grid-area_img{
    text-align: center;
    width: auto;
    grid-row: 1 / span 2; 
    grid-column: 1; 
}
.grid-area_description{
    grid-row: 2; 
    grid-column: 2 / span 2; 
}

/* .grid-area_button{
  height: 30px;
  grid-row: 3; 
  grid-column: 1 / span 3; 
} */
/* .grid-area{

} */

  article h1{
    padding: 5px;
    height: 60px;
    text-align: center;
  }
  article img{
    padding: 15px 0;
    margin: 0 auto;
  }


  article p{
     padding: 10px;
     margin: 10px, 0;
     margin-bottom: 10px;
     height: 100px;
  }




  /*nav part*/
  nav{
    display: block;
    background: #333333;
    position: relative;
    height: 50px;
    box-shadow: 1px 1px 1px 1px #848484;
  }
  /* header img{
    height: 45px;
    margin-left:20px; 
    margin-top: 2.5px;
  } */
  nav ul{
    position: absolute;
    top: 0px;
    right: 10px;
    list-style: none;
    margin-left: 10px;
  }
  nav ul li{
    float: left;

    text-align: center;
    padding:15px;
   
  }

  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
  }

  nav ul li:hover{
     background: #474747;
     border-radius: 5px;
     border-bottom: 1px solid red;
  }

 /* intro part */
  .intro{
     background:  #99cc33;
     display:block;
     box-shadow: 1px 1px 1px 1px #848484
 }
 .introItem{
     display: table;
     content:"";
     clear:both;
 }
 .introPhoto{
    display: table-cell;
     width: 33.3333%;
     padding:8px 16px !important;
     
 }
 .introDescription{
    display: table-cell;
    vertical-align: middle;
     width: 100%;
     padding:8px 16px !important;
 }

 
  /*footer part*/
   footer {
       background: #336699;
       color: white;
       text-align: center;
       width: 100%;
       height: 50px;
       line-height: 50px;
       font-size: 15px;
       box-shadow: 1px 1px 1px 1px #848484
   }

   .login{
    background: white;
    box-shadow: 1px 1px 1px 1px #848484;
    display: grid; 
    grid-template-rows: repeat(6, min-content); 

    position: relative; 

    background-color: white;
    margin:  10px;
    padding: 15px;


   }
   .login-img{
    grid-row: 1;
    margin: auto auto; 
    }
    .login img{
        width: 300px;
        padding: 20px;
    }
    .login-username{
        grid-row: 2; 
        margin: auto auto;  
        padding: 10px;
    }
    .login-password{
        grid-row: 3; 
        margin: auto auto;  
        padding: 10px;
    }
    .login-valid{
        grid-row: 4; 
        margin: auto auto;
        padding: 10 10px 5px 10px;

        }
    .login-validimg{
        grid-row: 5;
        margin: auto auto; 
        padding: 0 10px 10px 10px;
        }
    .login-button{
        grid-row: 6; 
        margin: auto auto; 
        padding: 10px;
        }
    .login input{

        width: 300px;
        height: 40px;
        text-align: center;
    }
    .login #code{
        width: 150px;
    }


   
   
   @media only screen and (min-width : 768px) 
   { 
       main 
       { 
           grid-template-columns: repeat(3, auto); 
      } 
       article
       {
           max-width: 400px; 
           margin: 15px;
           grid-template-rows: repeat(3, min-content); 
           grid-template-columns: 100%; 
           
            
       } 
       .grid-area 
       { 
           grid-column: 1; 
       } 
       .grid-area_tittle 
       { 
           grid-row: 1; 
       } 
       .grid-area_img 
       { 
           grid-row: 2; 
       } 
       .grid-area_description 
       { 
           grid-row: 3; 
       } 
 
       .grid-area_d 
       { 
           flex-direction: row;
        } 
   
        .login{
            background: white;
            box-shadow: 1px 1px 1px 1px #848484;
            display: grid; 
            grid-template-rows: repeat(5, min-content); 
            grid-template-columns: 66% calc(33%- 50px) 50px; 
            grid-auto-rows: min-content; 
        
            
            position: relative; 
            padding: 15px 10px; 
            background-color: white;
            margin:  10px;
            padding: 15px;
        
        
           }
           .login-img{
            grid-row: 1 / span 5; 
            grid-column: 1 / span 1; 
            margin: auto auto;
        
            }
            .login img{
                width: 300px;
                padding: 20px;
            }
            .login-username{
                width: auto;
                grid-row: 1;  
                grid-column: 2; 
                margin: auto 0;
        
        
            }
            .login-password{
                grid-row: 2;  
                grid-column: 2; 
                margin: auto 0;
        
            }
            .login-valid{
                grid-row: 3; 
                grid-column: 2;
                margin: auto 0; 
        
                }
            .login-validimg{
                grid-row: 4;
                grid-column: 2;
                margin: 0;
                
        
         
                }
            .login-button{
                grid-row: 5; 
                grid-column: 2; 
                margin: 20px 0;
        
                }
            .login input{
                width: 66%;
                height: 40px;
                text-align: center;
            }
            .login #code{
                width: 66%;
            }

}

   @media only screen and  (max-width : 533px)
   { 
       /* main 
       { 
           grid-template-columns: repeat(3, auto); 
      }  */
       article
       {
           height: fit-content;
           margin: 10px;
           grid-template-rows: repeat(3, min-content); 
           grid-template-columns: 100%; 
           
            
       } 
       .grid-area 
       { 
           grid-column: 1; 
       } 
       .grid-area_tittle 
       { 
           grid-row: 1; 
       } 
       .grid-area_img 
       { 
           grid-row: 2; 
       } 
       .grid-area_description 
       { 
           grid-row: 3; 
       } 
 
       .grid-area_d 
       { 
           flex-direction: row;
        } 

        .introPhoto{
            display: block;

             
         }
         .introDescription{
            display: block;

         }
/* nav part */
        nav {
            position: relative;
            height: 73px;
            
         }
        nav ul {
            width: 180px;
            padding: 5px 0;
            position: absolute;
            top: 10px;
            right: 5%;
            border: solid 1px #aaa;
            background: #333 ;
            border-radius: 10px;
            box-shadow: 0 1px 2px #848484;
            
            
            
        }
        nav ul li {
            display: none; /* hide all <li> items */
            margin: 0;
            float: none;
            width: 100%;
            padding: 5px 0;
            
        }
        nav .current {
            display: block; /* show only current <li> item */
        }
        nav ul li a {
            display: block;
            padding: 5px 5px 5px 50px;
            text-align: center;
            
        }
        nav .current a {
            background: none;
            color: white;
        }
        	/* on nav hover */
        nav ul:hover {
        background-image: none;
        }
        nav ul:hover li {
        display: block;
        margin: 0 0 5px;
        }
        /* it can give a check indicator but i have animation */
        /* nav ul:hover .current {
        
        } */

   }
 